@import "base/colors.scss";
@import "base/layout.scss";


#down-icon-circle {
    position: relative;
}
#down-icon-circle #arrow-dropdown {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#arrow-dropdown  {
    @include drop-down(65px, 50px, 220px, 200px);
}
li:hover {
    background-color: $grey-hover;
    cursor: pointer
}
li span {
    font-size: 12px;
    text-align: left;
    }
.dropdown-header:hover {
    background-color: white;
    font-weight: 100;
}
#dropdown-header:hover {
    background-color: white;
}
.dropdown-link {
    text-decoration: none;
    color: black;

}