.pin-input-fields-pins-board{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 590px;
    height: 100%;
}
.board-edit-pins-board{
    font-size: 14px;
    font-weight: 300;
    color: black;
    line-height: 50px;
}
#edit-pins-board{
    border-bottom: none;
    align-items: flex-start;
}