#feed {
    padding: 115px 50px;
  
}
.feed-images {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}
.feed-image {
    border-radius: 10px;
    width: 260px;
    height: 300px;
    object-fit: cover;
}