
.feed-container{
    display: flex;
    justify-content: center;
}
.my-masonry-grid {
    display: flex;
    margin-right: 80px;
    margin-left: 80px;
    width: 90%;
    padding-top: 40px;
    padding-right: 40px;

}

#feed-grid {
    padding-top: 70px;
    width: 90%;
    justify-content: center; 
}
.message-container{
    width: 100%;
}

#feed-grid > .my-masonry-grid_column {
    .board-dropdown{
        right: -150px;
    }
}
#feed-grid > .my-masonry-grid_column ~ .my-masonry-grid_column {
    .board-dropdown{
        right: -50px;
    }
}
#feed-grid .my-masonry-grid_column:last-of-type {
    .board-dropdown{
        left: -150px
    }
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
  width: 240px;
}
 
/* Style your items */
.pin-item { /* change div to reference your elements you put in <Masonry> */
   padding-bottom: 20px;
   display: inline-block;
   padding: 15px;
    img {
        display: block;
        width: 240px;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

}

.pin-owner-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#letter-under-pin {
    font-size: 15px;
}
#cirle-under-pin {
    height: 40px;
    width: 40px;
    padding-right: 3px;
}
.title-under-pin {
    padding: 6px;
}
.emailname-under-pin {
    font-weight: 300;
    padding-left: 5px;
}

// /pin url
.create-pin-container {
    width: 100%;
    height: auto;
    padding-top: 300px;
}