// .master-pin-container {
//     width: 100%;
//     height: auto;
//     columns: 250px;
//     column-gap: 5px;
// }

// .pin-container {
//     display: inline-block;
//     width: 100%;         
//     margin-bottom: 10px;
// }
// .grid-item, .grid-sizer {
//     width: 240px;
//     float: left;

//     img {
//         display: block;
//         width: 100%;
//         object-fit: cover;
//         border-radius: 25px;
//     }
// }
.my-masonry-grid {
    display: flex;
    // margin-right: 80px;
    width: auto;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
}
#feed-grid {
    padding-top: 70px;
}
.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
  width: 240px;
}
 
/* Style your items */
.pin-item { /* change div to reference your elements you put in <Masonry> */
   padding-bottom: 20px;
    img {
        display: block;
        width: 240px;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

}


// .pin-image{
//     display: block;
//     height: 100%;
//     width: 240px;
//     object-fit: cover;
//     border-radius: 25px;
// }
.pin-owner-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#letter-under-pin {
    font-size: 15px;
}
#cirle-under-pin {
    height: 40px;
    width: 40px;
    padding-right: 3px;
}
.title-under-pin {
    padding: 6px;
}
.emailname-under-pin {
    font-weight: 300;
    padding-left: 5px;
}

// /pin url
.create-pin-container {
    width: 100%;
    height: auto;
    padding-top: 300px;
}