@import "base/colors.scss";

.edit-board-modal {
    width: 500px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 6px 6px 8px 3px rgba(50, 50, 50, 0.17);
}
.edit-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    button{
        font-size: 16px;
    }
}
.red-button-update-board {
    background-color: $red;
    color: white;
}
.red-button-update-board:hover{
    background-color: $hover-red;
    cursor: pointer;
}
.delete:hover{
    cursor: pointer;
}

.edit-board-name-label, .board-description-label{
    font-weight: 300;
    font-size: 12px;
    padding-left: 45px;
    padding-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    overflow-wrap: break-word;
}

.edit-board-form {
    width: 100%;
    height: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.edit-board-form-container {
    width: 100%;
    height: 100%;
    align-items: center;
}
.create-name {
    width: 80%;
    align-self: center;
    height: 35px;
    border-radius: 10px;
    border: solid 2px lightgray;
}
.edit-description {
    width: 80%;
    align-self: center;

}
.edit-board-title-container {
    padding-bottom: 30px;
}
.edit-description {
    margin-bottom: 30px;

}